#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title {
  color: white;
  margin: 32px;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature__list li {
  width: 100%;
  vertical-align: top;
}

.key-feature__list li div {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 20px;
}

.key-feature__list li p {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

@media (min-width: 40rem) {
    .key-feature__list li {
      display: inline-block;
      width: 30%;
      vertical-align: top;
      max-width: 25rem;
    }
}
